main {
  display: grid;
  align-items: center;
  justify-content: center;

  .grid {
    display: grid;
    grid-template-rows: repeat(10, 50px);

    > section {
      display: grid;
      grid-template-columns: repeat(10, 50px);
      
      // Étape 1 : Coloration des lignes
      // &[class^="row-"]:nth-of-type(odd) {
      //   background: #213458;
      // }

      > section {
        border: 1px dotted black;
        // Étape 2 : Colorier colonnes paires en partant de la droite
        &:nth-child(even) {
          background: #213458;
        }
      }
    }
  }
}
